# Part4.작업형 제 3유형

## Chapter2. 통계적 가설 검정 실습

In [ ]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 615, done.
remote: Counting objects: 100% (252/252), done.
remote: Compressing objects: 100% (152/152), done.
remote: Total 615 (delta 123), reused 171 (delta 100), pack-reused 363
Receiving objects: 100% (615/615), 10.73 MiB | 16.16 MiB/s, done.
Resolving deltas: 100% (308/308), done.

## 4. 일원분산분석(One-way ANOVA) 실습 - iris

### (2) 사전 준비

#### 242-01

In [ ]:
import pandas as pd
import scipy.stats as stats

data = pd.read_csv("./yemoonsaBigdata/datasets/Part4/iris.csv")

### (3) 풀이

#### 243-01

In [ ]:
result = data.loc[data['species']=='versicolor', 'sepal_width'].mean()
print(round(result, 2))

2.77

#### 243-02

In [ ]:
X1 = data.loc[data['species']=='setosa', 'sepal_width']
X2 = data.loc[data['species']=='versicolor', 'sepal_width']
X3 = data.loc[data['species']=='virginica', 'sepal_width']

test_result = stats.f_oneway(X1, X2, X3)
print(round(test_result.statistic, 2))

49.16

#### 243-03

In [ ]:
p_value = test_result.pvalue

print(round(p_value, 4))

if p_value >= 0.05:
    print('채택')
else:
    print('기각')

0.0
기각

## 4. 카이제곱검정(적합도 검정) 실습 – cellphone

### (2) 사전준비

#### 252-01

In [ ]:
import pandas as pd
import scipy.stats as stats

data = pd.read_csv("./yemoonsaBigdata/datasets/Part4/cellphone.csv")

### (3) 풀이

#### 253-01

In [ ]:
count_df = data.groupby('제조사').count()
print(count_df)

      id
제조사
기타     5
삼성   117
애플    78

#### 253-02

In [ ]:
result = count_df.loc['삼성', 'id'] - count_df.loc['애플', 'id']
print(result)

39

#### 253-03

In [ ]:
total_sum = len(data)
expected = [int(total_sum*0.1),  # '기타' 제조사 기대빈도
            int(total_sum*0.6),  # '삼성' 제조사 기대빈도
            int(total_sum*0.3)   # '애플' 제조사 기대빈도
            ] # 간단히 expected = [int(total_sum * x) for x in [0.1, 0.6, 0.3]] 로 쓸 수 있습니다.

print(expected)

[20, 120, 60]

#### 253-04

In [ ]:
expected

[20, 120, 60]

In [ ]:
observed = count_df['id'].values
test_result = stats.chisquare(observed, f_exp=expected)

result = round(test_result.statistic, 2)

print(result)

16.73

#### 253-05

In [ ]:
p_value = test_result.pvalue

print(round(p_value, 4))

if p_value >= 0.05:
    print('채택')
else:
    print('기각')

0.0002
기각

## 5. 카이제곱검정(독립성 검정) 실습 - student

### (2) 사전 준비

#### 262-01

In [ ]:
import pandas as pd
import scipy.stats as stats

data = pd.read_csv("./yemoonsaBigdata/datasets/Part4/student.csv")

In [ ]:
data.head()

   ID  단과대학 수강 과목 수
0   1  경영대학   4개 이하
1   2  경영대학   4개 이하
2   3  경영대학   4개 이하
3   4  경영대학   4개 이하
4   5  경영대학   4개 이하

### (3) 풀이

#### 263-01

In [ ]:
table = pd.crosstab(data['단과대학'], data['수강 과목 수'])
print(table)

수강 과목 수  4개 이하  5개  6개 이상
단과대학
경영대학        12  78     30
공과대학        30  42     28
자연대학        30  42      8

#### 263-02

In [ ]:
result = table[table['6개 이상']==table['6개 이상'].max()].index[0]
print(result)

경영대학

#### 263-03

In [ ]:
X1 = table.loc['경영대학', :]
X2 = table.loc['자연대학', :]
X3 = table.loc['공과대학', :]

test_result = stats.chi2_contingency([X1, X2, X3])
result = test_result.statistic
print(round(result, 2))

30.13

In [ ]:
X1 = table.loc['경영대학']
X2 = table.loc['자연대학']
X3 = table.loc['공과대학']

test_result = stats.chi2_contingency([X1, X2, X3])
result = test_result.statistic
print(round(result, 2))

#### 263-04

In [ ]:
p_value = test_result.pvalue

print(round(p_value, 4))

if p_value >= 0.05:
    print('채택')
else:
    print('기각')

0.0
기각